$primary: #0EA6E9;
$bg-primary: radial-gradient(circle, #22d3ee 0%, #0ea5e9 100%);
$bg-primary-active: linear-gradient(90deg, #22d3ee 0%, #0ea5e9 100%);

$border-radius: 12px;
$shadow: 0 0 25px rgba(0, 0, 0, 8%);

