.dropdown-menu {
  border: none !important;
  border-radius: $border-radius !important;
}

.dropdown-header {
  background-color: inherit !important;
  color: inherit !important;
  padding: 10px 15px!important;
  border-bottom: 1px solid #eaeaea!important;
  font-size: 14px!important;
}