.modal-header {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  h1 {
    color: white;
  }
}

.modal-title {
  color: white;
}

.modal-content {
  border-width: 0;
  border-radius: $border-radius;
}