.panel {
  border-radius: $border-radius!important;
  overflow: hidden;
  box-shadow: $shadow;
  border: 0;

  .panel-heading {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    .panel-title {
      padding-top: 5px;
      padding-bottom: 5px;

      a { text-decoration: none!important;}
    }
  }
}

